<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.LotteryMapper">


    <insert id="insert">
        insert into lottery values(#{name}, #{item})
    </insert>
    <select id="select" resultType="com.tencent.wxcloudrun.model.Lottery_en">
        select * from lottery where name = #{name}
    </select>
</mapper>
